{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block body %}




<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="{{about.image.url}}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url({% static 'img/about-img-1.png'%});">
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">{{myfooter.site_name}}</span></h1>
                <h5>What We Do</h5>
                <p class="mb-4">{{about.what_we_do}}</p>
                <h5>Our Mission</h5>
                <p class="mb-4">{{about.our_mission}}</p>
                <div class="row gy-2 gx-4 mb-4">
                            <h5>Our Support</h5>
                            {% for support in supports %}
                            <div class="col-sm-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>{{support}}</p>
                            </div>
                            {% endfor %}
                        </div>

                <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="{% url 'about'%}">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Searvices</h5>
            <h1 class="mb-0">Our Services</h1>
        </div>
        <div class="row g-4">
            {% for service in services %}
            <div class="col-lg-6">
                <div
                    class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                    <div class="service-content text-end">
                        <h5 class="mb-4">{{service.name}}</h5>
                        <p class="mb-0">{{service.description}}
                        </p>
                    </div>
                    <div class="service-icon p-4">
                        <i class="{{service.icon}} fa-3x text-primary"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="text-center">
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="{% url 'service_list'%}">Service
                        More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
 <!-- Gallery Start -->
<div class="container gallery py-5 my-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Our Projects</h5>
        <h1 class="mb-4">Our Projects</h1>
        </p>
    </div>
    <div class="tab-class text-center">

        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    {% for project in projects %}
                    <div class="col-sm-6 col-md-6 col-lg-7 mx-auto ">
                        <div class="gallery-item h-100">
                            <img src="{{ project.image.url }}" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">{{ project }}</h5>
                                    <a href="{{project.get_absolute_url}}" class="btn-hover text-white">View All Details <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="{{ project.project_image.first.image.url }}"
                                    data-lightbox="gallery-{{ project.id }}" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                                {% for image in project.project_image.all %}
                                <a href="{{ image.image.url }}" data-lightbox="gallery-{{ project.id }}"
                                    class="d-none"></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Gallery End -->
 <!-- Travel Guide Start -->
        <div class="container-fluid guide py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Our Team</h5>
                    <h1 class="mb-0">Meet Our Team</h1>
                </div>
                <div class="row g-4">
                    {% for team in teams  %}
                    <div class="col-md-6 col-lg-3">
                        <div class="guide-item">
                            <div class="guide-img">
                                <div class="guide-img-efects">
                                    <img src="{{team.image.url}}" class="object-fit-contain w-100 rounded-top" height="400px" alt="Image">
                                </div>
                                <div class="guide-icon rounded-pill p-2">
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href=" {% if team.fb_link %} {{ team.fb_link}} {% else %} # {% endif %}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.twitter_link %} {{ team.twitter_link}} {% else %} # {% endif %}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.instagram_link %} {{ team.instagram_link}} {% else %} # {% endif %}"><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.linkedin_link %} {{ team.linkedin_link}} {% else %} # {% endif %}"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="guide-title text-center rounded-bottom p-4">
                                <div class="guide-title-inner">
                                    <h4 class="mt-3">{{team.name}}</h4>
                                    <p class="mb-0">{{team.headline}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Travel Guide End -->

<!-- Subscribe Start -->
<div class="container-fluid subscribe py-5">
    <div class="container text-center py-5">
        <div class="mx-auto text-center" id="main_form_div" style="max-width: 900px;">
            <h5 class="subscribe-title px-3">Subscribe</h5>
            <h1 class="text-white mb-4">Our Newsletter</h1>
            
            <form id="newsletters_form" action="{% url 'newsletter' %}" method="POST">
                {% csrf_token %}
                <div class="position-relative mx-auto">
                    <input name="emailinput" class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text"
                        placeholder="Your email">
                    <button type="submit"
                        class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Subscribe</button>
                </div>
            </form>
        </div>
        <div id="success_div" style="display: none;"
  					class=" text-center  heading-section heading-section-white ftco-animate">
  					<h3 class="text-white">Subcribed Successfuly</h3>
  				</div>
    </div>
</div>
<!-- Subscribe End -->
  

{% endblock body %}