{% extends "base.html" %}
{% load static %}
{% block title %}
Team
{% endblock title %}
{% block body %}

<!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Our Team</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active text-white">Team</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->
          <!-- Travel Guide Start -->
        <div class="container-fluid guide py-5">
            <div class="container py-5">
                <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                    <h5 class="section-title px-3">Our Team</h5>
                    <h1 class="mb-0">Meet Our Team</h1>
                </div>
                <div class="row g-4">
                    {% for team in teams %}
                    <div class="col-md-6 col-lg-3">
                        <div class="guide-item">
                            <div class="guide-img">
                                <div class="guide-img-efects">
                                    <img src="{{team.image.url}}" class="object-fit-contain w-100 rounded-top" height="400px" alt="Image">
                                </div>
                                <div class="guide-icon rounded-pill p-2">
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href=" {% if team.fb_link %} {{ team.fb_link}} {% else %} # {% endif %}"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.twitter_link %} {{ team.twitter_link}} {% else %} # {% endif %}"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.instagram_link %} {{ team.instagram_link}} {% else %} # {% endif %}"><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square btn-primary rounded-circle mx-1" href="{% if team.linkedin_link %} {{ team.linkedin_link}} {% else %} # {% endif %}"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="guide-title text-center rounded-bottom p-4">
                                <div class="guide-title-inner">
                                    <h4 class="mt-3">{{team.name}}</h4>
                                    <p class="mb-0">{{team.headline}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Travel Guide End -->


{% endblock body %}